.header {
  background: transparent url(../images/heading.svg) center no-repeat;
  height: 74px;
  margin-top: 45px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .header {
    background: transparent url(../images/headerm.svg) center no-repeat;
    margin-top: 28px;
  }
}
