.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 24.375px;
}

.profile__avatar-container {
  position: relative;
  background: transparent;
  border: none;
}

.profile__edit-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 120px;
  height: 120px;
  opacity: 0;
  border: none;
}

.profile__edit-icon:hover {
  background: url(../images/avatar-edit-icon.svg) center no-repeat;
  opacity: 100%git;
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "header button"
    "paragraph add";
  grid-template-columns: minmax(auto, 375px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid white;
  margin: 15px 0 9px 18px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__header {
  font-family: "Inter", Arial, Verdana, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  grid-area: header;
  margin: 0;
  text-overflow: ellipsis;
}

.profile__paragraph {
  font-family: "Inter", Arial, Verdana, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: paragraph;
  margin: 7px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile {
    flex-direction: column;
    margin: 0;
  }

  .page__section {
    padding: 0;
  }

  .profile__avatar {
    margin: 0;
    margin-top: 42px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .profile__header {
    font-size: 22px;
    line-height: 26px;
    min-width: 196px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile__paragraph {
    font-size: 14px;
    line-height: 17px;
    min-width: 700px;
    text-align: center;
  }

  @media screen and (max-width: 736px) {
    .profile__paragraph {
      min-width: 513px;
    }
  }

  @media screen and (max-width: 530px) {
    .profile__paragraph {
      min-width: 307px;
    }
  }

  @media screen and (max-width: 335px) {
    .profile__paragraph {
      min-width: 282px;
    }
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
    justify-content: center;
    margin-top: 36px;
  }
}
